html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: large;
}

html,
body,
#root,
.rdw-editor-wrapper,
.DraftEditor-root {
  width: 100%;
  height: 100%;
}

/* Scrollbar Styling */

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: radial-gradient(closest-corner, #222 0%, #1a1a1a 99%, #000 100%);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background: radial-gradient(#444 10%, #333 90%, #222 100%);
  border-radius: 10px;
}

/* Styling */

.sidebar {
  width: "100%";
  word-wrap: break-word;
}

.tabstyle {
  padding: 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  height: 1em;
}

/* Overrides */

body {
  margin: 0;
}

.lasttab {
  padding: 0;
}

.public-DraftStyleDefault-block {
  margin: 0;
}

.rdw-option-wrapper {
  border-radius: 6px;
}

.rdw-dropdown-optionwrapper {
  overflow-y: auto;
}

.text-color-override {
  color: black;
}
